name: Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: npm install

      - name: Rodar testes Cypress
        uses: cypress-io/github-action@v6
        with:
          browser: chrome

      - name: Salvar evidências
        uses: actions/upload-artifact@v4
        if: always() # salva mesmo se o teste falhar
        with:
          name: cypress-evidencias
          path: |
            cypress/screenshots/
            cypress/videos/   


      - name: Rodar testes Cypress
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
        env:
          CYPRESS_email: ${{ secrets.CYPRESS_EMAIL }}
          CYPRESS_senha: ${{ secrets.CYPRESS_SENHA }}